* {
    text-align: center;
    font-weight: bold;
}
h1 {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
#time {
    font-size: 40px;
}
#quiz {
    font-size: 25px;
}

#startBt {
    padding: 5px;
    border-radius: 5px;
    background-color: #ff9400;
    text-decoration-line: none;
}
#startBt:visited {
    color: #000000;
}
#startBt:hover {
    color: rgb(206, 57, 126);
    background-color: white;
    border: 3px palevioletred solid;
    box-shadow: 1px 1px;
    font-size: x-large;
}
footer {
    font-size: xx-small;
}